<%= form_for([:circle,@group]) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "圈子名" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "圈子介绍" %><br />
    <%= f.text_area :description, :rows => 4 %>
  </div>

  <div class="actions">
    <%= f.submit "保存" %>
  </div>
<% end %>
