<h1>Listing activity_users</h1>

<table>
  <tr>
    <th>Activity</th>
    <th>User</th>
    <th>Invitees</th>
    <th>Is admin</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activity_users.each do |activity_user| %>
  <tr>
    <td><%= activity_user.activity_id %></td>
    <td><%= activity_user.user_id %></td>
    <td><%= activity_user.invitees_id %></td>
    <td><%= activity_user.is_admin %></td>
    <td><%= activity_user.status %></td>
    <td><%= link_to 'Show', activity_user %></td>
    <td><%= link_to 'Edit', edit_activity_user_path(activity_user) %></td>
    <td><%= link_to 'Destroy', activity_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activity user', new_activity_user_path %>
