<p id="notice"><%= notice %></p>

<p>
  <b>Activity:</b>
  <%= @activity_user.activity_id %>
</p>

<p>
  <b>User:</b>
  <%= @activity_user.user_id %>
</p>

<p>
  <b>Invitees:</b>
  <%= @activity_user.invitees_id %>
</p>

<p>
  <b>Is admin:</b>
  <%= @activity_user.is_admin %>
</p>

<p>
  <b>Status:</b>
  <%= @activity_user.status %>
</p>


<%= link_to 'Edit', edit_activity_user_path(@activity_user) %> |
<%= link_to 'Back', activity_users_path %>
