<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @activity.subject %>
</p>

<p>
  <b>Description:</b>
  <%= @activity.description %>
</p>

<p>
  <b>Address:</b>
  <%= @activity.address %>
</p>

<p>
  <b>Status:</b>
  <%= @activity.status %>
</p>

<p>
  <b>Start date:</b>
  <%= @activity.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @activity.end_date %>
</p>

<p>
  <b>User:</b>
  <%= @activity.user_id %>
</p>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
