<%= form_for([:circle, @group, @activity, @account]) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sum, "金额" %><br />
    <%= f.number_field :sum %>
  </div>
  <div class="field">
    <%= f.hidden_field(:io_type, :value => Account::IO_TYPE_OUTCOME ) %>
  </div>
  <div class="field">
    <%= f.label "备注" %><br />
    <%= f.text_area :remark, :cols => 15, :rows => 5 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
