<h2>帐务统计</h2>
<div>
	<%= form_tag(statistics_personal_user_accounts_path(@current_user),:method => :get) do %>
		<div class="field">
			<%= label_tag '统计类别' %>
			<%= select_tag 'statistics_type',statistics_type_help.html_safe %>
		</div>
	  	<div class="field">
	    	<%= label_tag "开始时间" %><br />
	    	<%= text_field_tag :start_date %>
	  	</div>
	  	<div class="field">
		    <%= label_tag "结束时间" %><br />
		    <%= text_field_tag :end_date %>
	  	</div>			
			<%= submit_tag '统计' %>
	<% end %>
</div>
<div>
	<% if @paint_chart %>
		<%= high_chart("my_id", @h) %>
	<% end %>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('#start_date').datepicker({ 'format' : 'yyyy-mm-dd'});
    $('#end_date').datepicker({ 'format' : 'yyyy-mm-dd'});
  })
</script>