<h1>所有圈子</h1>

<table>
  <tr>
      <th>圈子名</th>
      <th>圈子描述</th>
      <th>圈子等级</th>
      <th>成员数</th>
      <th>粉丝数</th>
      <th>圈子状态</th>
      <th>创建用户</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
<tr>
    <td><%= group.name %></td>
    <td><%= group.description %></td>
    <td class="center"><%= group.level %></td>
    <td class="center"><%= group.member_count %></td>
    <td class="center"><%= group.following_count %></td>
    <td class="center"><%= group.status %></td>
    <td class="center"><%= group.user.nick_name %></td>
    <td><%= link_to '加入这个圈子', group %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '创建我的圈子', new_group_path %>
