<% content_for :show_div do %>
  <div class="container">
    <h1>Wolf_Howl</h1>
    <p>AA拼出更精彩的生活, 圈子的共赢需要我们都不亏, 便利的预算跟踪让我们玩得更放心!</p>
    <p>
      <a href="#" class="btn btn-primary btn-large">共同生活，我们需要AA</a>
    </p>
    <ul class="masthead-links">
      <li>
        <a href="#">玩转圈子！</a>
      </li>
      <li>
        <a href="#">玩转AA！</a>
      </li>
      <li>
        <a href="#">玩转生活！</a>
      </li>
      <li>
        Version 1.0.0
      </li>
    </ul>
  </div>
<% end %>

<div class="container">

  <div class="marketing">

    <h1>wolf_howl是什么?</h1>
    <p class="marketing-byline">穷屌丝的幸福生活在哪里？看这里……</p>

    <div class="row-fluid">
      <div class="span4">
        <%= image_tag("bs-docs-twitter-github.png") %>
        <h2>抱团成圈拼起快乐！</h2>
        <p>
          也许我们犹如蚂蚁般渺小<br/>
          小小的蚂蚁却可以组成大大的团<br/>
          我不懂你生活的富足<br/>
          你更不懂我们的快乐！
        </p>
      </div>
      <div class="span4">
        <%= image_tag("bs-docs-responsive-illustrations.png") %>
        <h2>我的帐务我掌控！</h2>
        <p>
          我没钱理财<br/>
          但是我要记账<br/>
          它们不仅是一串简单的数字<br/>
          还串起了我的生活和希望！
        </p>
      </div>
      <div class="span4">
        <%= image_tag("bs-docs-bootstrap-features.png") %>
        <h2>大家都不亏的精彩！</h2>
        <p>
          坦诚是我的筹码<br/>
          分享快乐是我的心愿<br/>
          我们共同的圈子<br/>
          我不亏，你不亏<br/>
        </p>
      </div>
    </div>

    <hr class="soften">
<!-- 
    <h1>Built with Bootstrap.</h1>
    <p class="marketing-byline">For even more sites built with Bootstrap, <a href="http://builtwithbootstrap.tumblr.com/" target="_blank">visit the unofficial Tumblr</a> or <a href="http://twitter.github.com/bootstrap/getting-started.html#examples">browse the examples</a>.</p>
    <div class="row-fluid">
      <ul class="thumbnails example-sites">
        <li class="span3">
          <a class="thumbnail" href="http://soundready.fm/" target="_blank">
            <%= image_tag("soundready.png") %>
          </a>
        </li>
        <li class="span3">
          <a class="thumbnail" href="http://kippt.com/" target="_blank">
            <%= image_tag("kippt.png") %>
          </a>
        </li>
        <li class="span3">
          <a class="thumbnail" href="http://www.gathercontent.com/" target="_blank">
            <%= image_tag("gathercontent.png") %>
          </a>
        </li>
        <li class="span3">
          <a class="thumbnail" href="http://www.jshint.com/" target="_blank">
            <%= image_tag("jshint.png") %>
          </a>
        </li>
      </ul>
     </div> -->

  </div>

</div>