<%= form_for([:circle, @group, @activity, @budget]) do |f| %>
  <% if @budget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@budget.errors.count, "error") %> prohibited this budget from being saved:</h2>

      <ul>
      <% @budget.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "预算名" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :total_sum, "预算总金额" %><br />
    <%= f.text_field :total_sum %>
  </div>
  <% unless @activity.present? %>
    <div class="field">
      <%= f.label :start_date, "开始日期" %><br />
      <%= f.text_field :start_date %>
    </div>
    <div class="field">
      <%= f.label :end_date, "结束日期" %><br />
      <%= f.text_field :end_date %>
    </div>
    <div class="field">
      <%= f.label :visable_status, "可见状态" %><br />
      <%= f.number_field :visable_status %>
    </div>
  <% else %>
    <%= f.hidden_field(:start_date,:vaule => @activity.start_date ) %>
    <%= f.hidden_field(:end_date,:vaule => @activity.end_date ) %>
    <%= f.hidden_field(:visable_status,:vaule => @activity.visable_status ) %>
  <% end %>
  <div class="field">
    <%= f.label :description, "预算描述" %><br />
    <%= f.text_area :description, :rows => 5, :cols => 20 %>
  </div>
  <div class="actions">
    <%= f.submit "保存" %>
  </div>
<% end %>
<script type="text/javascript">
  $(document).ready(function(){
    $('#budget_start_date').datepicker({ 'format' : 'yyyy-mm-dd'});
    $('#budget_end_date').datepicker({ 'format' : 'yyyy-mm-dd'});
  })
</script>