<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>
  <b>Description:</b>
  <%= @group.description %>
</p>

<p>
  <b>Level:</b>
  <%= @group.level %>
</p>

<p>
  <b>Status:</b>
  <%= @group.status %>
</p>

<p>
  <b>Following count:</b>
  <%= @group.following_count %>
</p>

<p>
  <b>Member count:</b>
  <%= @group.member_count %>
</p>

<p>
  <b>User:</b>
  <%= @group.user_id %>
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
