<%= form_for(@activity_user) do |f| %>
  <% if @activity_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity_user.errors.count, "error") %> prohibited this activity_user from being saved:</h2>

      <ul>
      <% @activity_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :activity_id %><br />
    <%= f.number_field :activity_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :invitees_id %><br />
    <%= f.number_field :invitees_id %>
  </div>
  <div class="field">
    <%= f.label :is_admin %><br />
    <%= f.check_box :is_admin %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.number_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
