<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title><%= @title.blank? ? "Wolf_Howl" : "Wolf_Howl | #{@title}"%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <style type="text/css">.holderjs-fluid {font-size:16px;font-weight:bold;text-align:center;font-family:sans-serif;border-collapse:collapse;border:0;vertical-align:middle;margin:0}
    </style>
    <%= stylesheet_link_tag "application/application", :media => "all" %>
    <%= javascript_include_tag "application/application" %>
    <%= csrf_meta_tags %>
</head>

  <body data-twttr-rendered="true" data-spy="scroll" data-target=".bs-docs-sidebar">

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Wolf_Howl</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="<%= @active_nav == 'home' ? 'active' : '' %>">
                <%= link_to "Wolf_Howl", root_path %>
              </li>
              <li class="<%= @active_nav == 'group' ? 'active' : '' %>">
                <%= link_to "看看圈子", circle_groups_path %>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">我的个人业务</a>
                <ul class="dropdown-menu">
                    <li>
                      <%= link_to "我的活动", personal_user_activities_path(@current_user) %>
                    </li>
                    <li>
                      <%= link_to "我的帐务", personal_user_accounts_path(@current_user) %>
                    </li>
                    <li>
                      <%= link_to "我的预算", personal_user_budgets_path(@current_user) %>
                    </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="offset8">
            <ul class="nav">
                <% if is_login? %>
              <li class="active">
                  <%= link_to @current_user.nick_name, edit_user_path(@current_user) %>
              </li>
              <li class="active">
                  <%= link_to "注销", sessions_path, :method => "delete" %>
              </li>
                <% else %>
              <li class="active">  
                  <%= link_to "登录", new_sessions_path %>
              </li>
              <li class="active">
                  <%= link_to "注册", new_user_path %>
              </li<
                <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

<div class="jumbotron masthead">
  <%= yield :show_div %>
</div>

<div class="bs-docs-social">
  <%= yield :operation_bar %>
</div>

<div class="container" style="height:500px">
  <%= yield %>
</div>



    <!-- Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">
        <p>Tony设计</p>
        <p>本项目是开源项目，项目地址是：<a href="https://github.com/zhongwen-zhou/wolf_howl/" target="_blank">https://github.com/zhongwen-zhou/wolf_howl/</a></p>
        <p><a href="#">Glyphicons Free</a> licensed under <a href="#">CC BY 3.0</a>.</p>
        <ul class="footer-links">
          <li><a href="#"></a></li>
          <li class="muted">·</li>
          <li><a href="#">Issues</a></li>
          <li class="muted">·</li>
          <li><a href="#">Roadmap and changelog</a></li>
        </ul>
      </div>
    </footer>
 

</body></html>